<div ng-app='careAnalytics' class="col-lg-12">
    <form ng-controller='FormController as form'>
        <div class="form-group">

            <div ng-repeat="input in form.template track by input.label">
              <label>{{ input.label }}:</label>
              <div ng-repeat="child in input.children">
                  <label>{{ child.label }}:</label>
                  <input ng-model="child.value" type="text" class="form-control">
                  <span> {{ child.value }}</span>
              </div>
            </div>

        </div>
        <button type="button" class="btn btn-primary" ng-click="form.submit()">
            Submit
        </button>
    </form>

  <div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
      <canvas></canvas>
    </div>
    <div class="m-signature-pad--footer">
      <div class="description">Sign above</div>
      <button type="button" class="button clear" data-action="clear">Clear</button>
      <button type="button" class="button save" data-action="save">Save</button>
    </div>
  </div>

</div>