<form class="form-inline" 
      ng-repeat="input in patientForm.template track by input.code">
  <h4>{{ patientForm.label(input) }}</h4>

  <!-- row markup -->
  <div class="form-group"
       style="padding-bottom: 10px; padding-top: 10px;"
       ng-show="patientForm.isRow(input)"
       ng-repeat="child in input.children">
      <label>{{ patientForm.label(child) }}</label>
      <input style="padding-right: 100px; margin-right: 15px;"
             ng-model="child.value"
             type="text"
             class="form-control">
  </div>

  <!-- radio markup -->
  <div class="radio-inline"
       ng-show="patientForm.isRadio(input)"
       ng-repeat="option in input.options">
      <label class="btn btn-success" 
             ng-model="input.value"
             uib-btn-radio="option"
             uncheckable>
             {{ option }}
      </label>    
  </div>
  
  <!-- radio details markup -->
  <div ng-show="patientForm.showInputField(input)">
    <textarea style="padding-right: 100px; margin-right: 15px; margin-top: 5px;" 
           ng-model="input.details"
           type="text"
           class="form-control has-error"
           rows="3"
           placeholder="Comments">
    </textarea>
  </div>

  <!-- checkbox details markup -->
  <div class="checkbox-inline"
       ng-show="patientForm.isCheckbox(input)"
       ng-repeat="option in input.children">
      <label class="btn btn-primary" 
             ng-model="option.value"
             uib-btn-checkbox>
             {{ option.label }}
      </label>
  </div>

  <!-- text markup -->
  <div ng-show="patientForm.isText(input)">
      <label>
        {{ input.value }}
      </label>
  </div>
</form>

<div id="signature-pad" class="m-signature-pad">
  <div class="m-signature-pad--body">
    <canvas></canvas>
  </div>
  <div class="m-signature-pad--footer">
    <div class="description">Sign above</div>
    <button type="button" class="button clear" data-action="clear">Clear</button>
  </div>
</div>

<button id="submit-button"
        type="button"
        class="btn btn-primary"
        ng-click="patientForm.submit()">
    {{ patientForm.buttonText() }}
</button>
<label class="control-label text-danger" ng-show="patientForm.invalid">You have not filled out all the fields! All fields are required.</label>

<!-- Submit successful modal -->
<div class="modal fade in" role="dialog" style="display: block;" ng-show="patientForm.showSubmitSuccessful">  
    <div class="modal-dialog">    
        <div class="modal-content">   
            <div class="modal-header">
              <h4 class="modal-title">Submission Successful!</h4>
            </div>
            <div class="modal-body">
              <p>Please return the device to the front desk.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-click="patientForm.unsetSubmitSuccessful()">OK</button>
            </div>   
        </div>  
    </div>
</div>
  
</div>
